<html>
<head></head>
<body>
<h2>My Lists</h2>
<% if flash[:notice] %>
  <p class="notice_successful">Task was created successfully!</p>
<% end %>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %>
      <div class="add-task"><%= link_to '+ Add Task', new_task_list_task_path(task_list) %></div>
    </h1>
    <% @tasks.each do |task| %>
      <% if task.task_list_id == task_list.id %>
        <div class="task-single">
          <%= task.description %>
          (<%= time_ago_in_words(task.due_date) %>)
        </div>
        <br>
      <% end %>
    <% end %>
  </section>

<% end %>

</body>
</html>

